
a.iconlink, span.icontext, a.iconlink:visited {
	color: #000000;
	font-size: 16px;
	text-decoration: none;
	background: none;
}
a.iconlink:hover {
	color: #000000;
	text-decoration: underline;
	background: none;
}


body {
	padding-bottom: 10px;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
	background: #fff;
}

p {
	font: 12px Arial, Helvetica, sans-serif;
}

h1 {
	font: normal 32px Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 20px;
}

h2 {
	font: lighter 26px Arial, Helvetica, sans-serif;
	color: #000000;
}

h3 {
	font-size: 20px;
	color: #FF0084;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
}

h4 {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	font: bold 13px Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

h6 {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #666666;
	margin-bottom: 0px;
	margin-top: 0px;
}

form {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table {
	border: none;
	font-size: 11px;
}

td {
	padding: 5px; 
	font: 12px Arial, Helvetica, sans-serif;
} 

img {
	border: 1px solid #000000;
}

ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}


/* ##################### */
/*      LINK STYLES      */
/* ##################### */

a:link {
	color: #0063DC;
	text-decoration: underline;
}

a:visited {
	color: #0259C4;
	text-decoration: underline;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #0063DC;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
	background: #0259C4;
}

.DelTag:link {
	color: #c9c9c9;
	text-decoration: none;
}

.DelTag:visited {
	color: #c9c9c9;
	text-decoration: none;
}

.DelTag:hover {
	color: #0063DC;
	background: #fff;
	text-decoration: none;
}

.DelTag:active {
	color: #FF0084;
	background: #fff
	text-decoration: none;
}

.pale:link {
	color: #8A8A8A;
	text-decoration: none;
}

.pale:visited {
	color: #999999;
	text-decoration: none;
}

.pale:hover {
	color: #FF0084;
	background: #fff;
	text-decoration: underline;
}

.pale:active {
	color: #FF0084;
	background: #fff
	text-decoration: underline;
}

.ShowUsYerDate:link {
	color: #555;
	text-decoration: none;
}

.ShowUsYerDate:visited {
	color: #555;
	text-decoration: none;
}

.ShowUsYerDate:hover {
	color: #FF0084;
	text-decoration: none;
	background: #fff;
}

.ShowUsYerDate:active {
	color: #FF0084;
	text-decoration: none;
	background: #fff;
}


/* ########################################## */
/*                  SITEWIDE                  */
/* ########################################## */


.Launch {
}

.topnavi {
	font: 13px Arial, Helvetica, sans-serif;
	color: #777;
	width: 100%
}

.Loggy {
	font: 11px Arial, Helvetica;
	color: #999;
	text-align: right;
	margin: 0px;
}

.Ludi {
	padding-top: 20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
}

.New {
	font: 8px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFE28A;
	padding: 1px;
	vertical-align: middle;
}

#Main {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	text-align: left;
	vertical-align: top;
}

#Hint {
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 0px;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
}

#Hint p {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #555555;
	margin-top: 5px;
	padding-left: 4px;
}

#Hint h2 {
	font: 14px Arial, Helvetica, sans-serif;
	color: #111;
	margin-bottom: 5px;
}

#Hint h3 {
	font-size: 20px;
	color: #FF0084;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 5px;
}

#Hint h4 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #111;
	margin-bottom: 5px;
}

#Hint h6 {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #FF0084;
}

#Hint img {
	border: 0px none;
}

#GoodStuff {
	width: 100%;
	vertical-align: top;
	margin-top: 0px;
	text-align: left;
	padding-top: 0px;
}


.Top {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 20px;
	float: right;
}

.paginator { font: 11px Arial, Helvetica, sans-serif; padding-top: 10px; padding-bottom: 10px; margin: 0px; }
.paginator a, .pageList .this-page {padding: 2px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;}
.paginator a:visited {padding: 2px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;}
.paginator .break {padding: 2px 6px; border: none; background: #fff; text-decoration: none;}
.paginator .end {padding: 2px 6px; border: solid 2px #ddd; background: #fff;}
.paginator .this-page {padding: 2px 6px; border-color: #999; font-weight: bold; font-size: 13px; vertical-align: top; background: #fff;}
.paginator a:hover {color: #fff; background: #0063DC; border-color: #036; text-decoration: none;}
.paginator .ranking {display: block; margin-top: 0.5em; font-weight: bold;}
.paginator .ranking a {padding: 0; border: 0; background: transparent;}
.paginator .ranking a:hover {text-decoration: underline; color: #f60; background: transparent;}

/* THAT PSST TABLE */

.Tease {
	background-color: #eee;
	border:	1px solid #d0d0d0;
	vertical-align: left;
	color: #000;
	margin-top: 0px;
	margin-bottom: 20px;
}

.Tease td {
	font: 11px Arial, Helvetica, sans-serif;
	padding: 3px;
}

.Tease .Or {
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0px;
}

.Tease .Member {
	font: normal 11px Arial, Helvetica, sans-serif;
	text-align: left;
	margin-top: 0px;
}

#Feeds {
	float: right;
	font: 11px Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	padding: 5px;
	border:	1px solid #e1e1e1;
/*	width: 180px; */
	vertical-align: middle;
	color: #666666;
	margin-right: 0px;
	margin-left: 20px;
	margin-top: 10px;
}

#Feeds h4 {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 5px;
}

#Feeds p {
	font: 11px Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 0px;
}

#MegaFooter {
}

#MegaFooter td { 
	padding: 5px;
}

#MegaFooter a {
	text-decoration: none;
}



/* ##################### */
/* CONFIRMATIONS/ERRORS/FORM STUFF/BUTTONS */
/* ##################### */

.Confirm {
	font: bold 14px Arial, Helvetica, sans-serif;
	padding-left: 25px;
	padding-bottom: 10px;
	background: url(/images/icon_confirm.jpg) no-repeat left top;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	color: #000000;
}

.Problem {
	font: bold 14px Arial, Helvetica, sans-serif;
	padding-left: 25px;
	padding-bottom: 10px;
	background: url(/images/icon_error.jpg) no-repeat left top;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	color: #000000;
}

.NoResult {
	font: bold 14px Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	color: #0063DC;
}

.Butt {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background: #0063DC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7CBAFF;
	border-right-color: #2854A7;
	border-bottom-color: #2854A7;
	border-left-color: #7CBAFF;
}

.DeleteButt {
	color: #000000;
	background: #DCE0E6;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F5F6F7;
	border-right-color: #BFB7BC;
	border-bottom-color: #BFB7BC;
	border-left-color: #F5F6F7;
	font: 12px Arial, Helvetica, sans-serif;
}

.PinkButt {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background: #FF0084;
	border: 1px solid;
	border-top-color: #7CBAFF;
	border-right-color: #2854A7;
	border-bottom-color: #2854A7;
	border-left-color: #7CBAFF;
}

.SmallPinkButt {
	font: bold 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #FF0084;
	border: 1px solid;
	border-top-color: #7CBAFF;
	border-right-color: #2854A7;
	border-bottom-color: #2854A7;
	border-left-color: #7CBAFF;
	padding: 0px;
	margin: 0px;
}

.SmallButt {
	font: bold 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #0063DC;
	border: 1px solid;
	border-top-color: #7CBAFF;
	border-right-color: #2854A7;
	border-bottom-color: #2854A7;
	border-left-color: #7CBAFF;
	padding: 0px;
	margin: 0px;
}

.SmallDeleteButt {
	text-transform: uppercase;
	color: #000000;
	background: #DCE0E6;
	border: 1px solid;
	border-top-color: #F5F6F7;
	border-right-color: #BFB7BC;
	border-bottom-color: #BFB7BC;
	border-left-color: #F5F6F7;
	font: 10px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}


/* ##################### */
/*      IMG CLASSES      */
/* ##################### */

.BuddyIcon,
.xBuddyIcon {
	margin-right: 20px;
	border: 1px solid #000000;
	margin-bottom: 5px;
}

.BuddyIconH,
.xBuddyIconH {
	margin-right: 20px; 
	border: 1px solid #000000;
	margin-bottom: 3px; 
}

.Focus {
	padding: 10px;
	text-align: left;
	font-size: 13px;
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	background: #f5f5f5;
}

.Full {
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	text-align: center;
	background: #f5f5f5;
}

.FormInstruction {
	padding: 10px;
	background: #f5f5f5;
	font: 13px Arial, Helvetica, sans-serif;
}

.icon {
	border: 0px none;
	vertical-align: middle;
	margin-right: 2px;
}

/* ##################### */
/* PROFILE PAGE SPECIFIC */
/* ##################### */

.RealName {
	font-size: 75%;
	color: #333333;
}

#Relations {
	font: 12px Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-left: 15px;
}

#ChangeView {
	font: 14px Arial, Helvetica, sans-serif;
	margin-top: 3px;
	padding-left: 15px;
	float: left;
}

.MoreContacts {
	font: bold 14px Arial, Helvetica, sans-serif;
	text-align: left;
	padding-top: 35px; 
	padding-left: 15px;
	float: left;
	margin-top: 5px;
}

.Label {
	vertical-align: top;
	text-align: right;
	font-weight: bold;
}

#Testi {
	padding: 5px;
	background: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	width: 180px;
	margin-top: 2px;
	margin-bottom: 8px;	
}

#Testi img {
	border: 1px solid #000;
	float: right;
	margin-left: 8px;	
}

.WhosOnline {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	list-style: none;
	margin-left: 0px;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 0px;
}


.AccountStatus {
	margin-top: 0px;
	vertical-align: top;
	width: 100%;
	padding: 6px;
	background-color: #f5f5f5;
	font: 12px Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	border:	1px solid #CCCCCC;
}


/* ##################### */
/*         INBOX         */
/* ##################### */

#InBox table {
	font: 12px Arial, Helvetica, sans-serif;
	margin-right: 0px;
	margin-left: 0px;
}

#InBox td {
	border-bottom: 1px solid #E5E5E5;
}

#InBox h4 {
	font: bold 14px Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 5px;
}

#InBox p {
	margin-bottom: 10px;
}

#InBox .Head {
	font: bold 12px Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	background: #666
}

#InBox h4 {
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #666666;
}

#InBox #Unread {
	font-weight: bold;
	background: #F0F0F0;
}

#InBox #Read {
	font-weight: normal;
}

#InBox #Replied {
	font-style: italic;
	color: #333333;
}

#InBoxDel {
	font-size: 90%;
	border-bottom: 1px solid #FF66CC;
	background: #FFFFFF;
	text-align: center;
}


/* ######################### */
/*         PHOTO BITS        */
/* ######################### */


.Set { width: 130px; text-align: left; margin-bottom: 15px; }
.Set h4  { width: 120px; margin-top: 0px; margin-bottom: 0px; font-size: 15px; font-weight: bold; }
.Set p { margin-top: 2px; font-size: 11px; color: #777; }

.Sets { width: 120px; height: 170px; text-align: left; float: left; padding-right: 4px;	margin-right: 7px; margin-bottom: 10px; }
.Sets h4 { width: 110px; margin-top: 0px; margin-bottom: 0px;	font-size: 15px; font-weight: bold; }
.Sets p { margin-top: 2px; font-size: 11px; color: #777; }

.SetCase { margin-top: 5px; margin-bottom: 3px; width: 91px; height: 95px; padding-top: 7px; padding-bottom: 0px; background: url(../images/set_case.gif) no-repeat; text-align: center; vertical-align: middle; }
.SetCase img { 	border: 1px solid #000; margin: 0px; padding: 0px; }

.SetList { margin-top: 30px; width: 160px; vertical-align: left; font: normal 12px Arial, Helvetica, sans-serif; color: #666666; }
.SetList h3 { font-weight: bold; font-size: 15px; margin-bottom: 0px; margin-top: 0px; }
.SetList p { margin-bottom: 3px; }

.SetListHoriz { float: left; }

.SetDisplay { margin-top: 0px; margin-bottom: 15px; }
.SetDisplay td { padding: 0px; margin: 0px; }
.SetDisplay img { margin-right: 2px; }

.Seta:link { color: #0259C4; text-decoration: none; }
.Seta:visited { color: #0259C4; text-decoration: none; }
.Seta:hover { color: #FFFFFF; text-decoration: none; background: #0063DC; }
.Seta:active { color: #FFFFFF; text-decoration: none; background: #0259C4; }

.ViewSet {
	padding: 0px;
	margin: 3px;
	float: left;
}

.StreamList {
	font: 11px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left; 
	text-align: center;
	width: 110px;
	height: 130px;
}

.SqStreamList {
	font: 11px Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left; 
	text-align: center;
	width: 80px;
	height: 110px;
}


.UserTagList {
	padding: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
	float: left; 
	width: 110px;
	height: 110px;
}

.PoolList { font: 11px Arial, Helvetica, sans-serif; padding: 0px; margin-top: 5px; margin-right: 10px; margin-bottom: 0px; float: left; text-align: center; width: 110px; height: 120px;
}

.TagList { background-color: #f6f6f6; padding: 6px; margin-top: 25px; border: 1px solid #eee; width: 140px; vertical-align: left; font: normal 12px Arial, Helvetica, sans-serif; color: #666666;	}
.TagList h4 { font-weight: bold; font-size: 12px; }

.Batch { padding-bottom: 10px; border-bottom: solid 1px #ddd; padding-top: 10px; border-top: solid 1px #ddd; padding-left: 5px;}

.SeeSlideShow { padding-bottom: 10px; padding-top: 10px; padding-left: 5px; margin-top: 30px;}

.FaveList {
	width: 85px;
	height: 85px;
	float: left;
}

#FaveDetail {
	font: 11px Arial, Helvetica, sans-serif;
	color: #333333;
	background: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	border: 2px solid #333333;
	width: 115px;
	left: auto;
	bottom: 5px;
	right: auto;	
	position: relative; 
	z-index: 1; 
	visibility: hidden;
}

.SlideShowTop {
	background: #eaeaea; 
	padding-left: 2px;
	padding-bottom: 3px; 
	padding-top: 2px; 
	border-bottom: 1px solid #dbdbdb; 
	font: 14px normal Arial, Helvetica; 
	text-align: left;
}


/* ################################ */
/* LISTS OF PEOPLE WITH BUDDY ICONS */
/* ################################ */

.Person {
	font: 11px Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	padding: 5px;
	float: left;
	margin: 5px;
}

.PersonNoWrap {
	font: 11px Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	padding: 5px;
	margin: 5px;
}


/* ONLINE/OFFLINE PEOPLE LISTS */

.OnlineNow { font: 11px Arial, Helvetica, sans-serif; text-align: center; background-color: #FFE8F4; vertical-align: top; padding: 5px; float: left; margin: 5px; }

.OnlineNowAway { font: 11px Arial, Helvetica, sans-serif; text-align: center; vertical-align: top; 	padding: 5px; float: left; margin: 5px; }

.OfflineList { font: 11px Arial, Helvetica, sans-serif; text-align: center; vertical-align: top; padding: 5px; float: left; margin: 5px; }


/* ########################## */
/*    GROUP SPECIFIC STUFF    */
/* ########################## */

#noteEdit {
	display: none;
}

.noteText {
	width: 80%;
	height: 70px;
	margin: 4px 0px 4px 0px;
}

.DateTime {
	font: 11px/15px Arial, Helvetica;
	color: #999999;
}

.PostDateTime {
	font: 11px Arial, Helvetica;
	color: #999999;
	margin-top: 0px;
}

a.PostDateTime {
	color: #999999;
}

.TopicReply {
	margin-left: 73px;
	margin-top: 10px;
}

.CategoryList {
	background-color: #f6f6f6;
	padding: 6px;
	border:	1px solid #eee;
	vertical-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666666;	
}

.CategoryList h4 {
	font-weight: bold;
	font-size: 12px;
}

.PostLinks:link {
	color: #999999;
}

.PostLinks:visited {
	color: #666666;
}

.PostLinks:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #0063DC;
}

.PostLinks:active {
	color: #FFFFFF;
	text-decoration: none;
	background: #0259C4;
}

.PostPreview {
	font: 12px Arial, Helvetica, sans-serif;
	padding: 10px;
	border:	1px solid #D3DEFA;
	background-color: #EEF2FD;	
	text-align: left;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 15px;
}

.PostPreviewTitle {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 4px;
}

.Who {
	vertical-align: middle;
	margin-left:0px;
	border: none;
	padding-left: 2px;
	margin-right: 0px;
	padding-right: 0px;
}



/* ########################## */
/*       HOME PAGE STUFF      */
/* ########################## */

.HomeBox {
	width: 100%; 
	background:#f3f3f3; 
/*	border: solid 1px #e6e6e6; */ 
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 6px;
}

.HomeBox .But {
	font: 11px Arial, Helvetica, sans-serif;
	color: #483100;
}

.TipBox {
	width: 100%; 
	background:#FED377; 
/*	border: solid 1px #FFBA27; */
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 6px;
}

.StartAlert {
	font: 11px Arial, Helvetica, sans-serif;
	background-color: #FBFFCC;
/*	border: 1px solid #F7FEA6; */
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 6px;
	width: 100%;
}

.StartAlert ul {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.Home td {
	font: 14px Arial, Helvetica;
	color: #000;
}

.Home img {
	border: none;
}

.caption {
	font-weight: bold;
}


.Buy {
	margin: 0px;
}

.But {
	font-size: 11px;
	color: #666;
	margin: 0px;
	padding-bottom: 5px;
}

.MakeBadge {
	font: 11px Arial, Helvetica, sans-serif;
/*	border: 1px solid #FFCC66; */
	text-align: left;
	padding: 3px 6px;
	margin-top: 25px;
	margin-bottom: 15px;
	background: #FEE28D;
}

.MakeBadge a:link {
	color: #000;
	text-decoration: underline;
}

.MakeBadge a:visited {
	color: #000;
	text-decoration: underline;
}

.MakeBadge a:hover {
	color: #fff;
	text-decoration: none;
	background: #000;
}

.MakeBadge a:active {
	color: #fff;
	text-decoration: underline;
	background: #000;
}

 
.mbanker { margin-bottom: 15px; margin-left: 5px;}
.mbanker a:link, .mbanker a:visited { text-decoration: none; } 
.mbanker a:hover .adText { background: #fff; text-decoration: none; color: #0063DC; }
.mbanker h4 { color: #399; font-weight: normal; padding-bottom: 2px; } 
.mbanker span.adHeadline { text-decoration: underline; } 
.mbanker span.adText { padding-left: 5px; color: #000; } 
.mbanker div a { margin-bottom: 2px; } 
.mbanker div a.adhere { margin-bottom: 0; }



/* ########################## */
/*       ICON BUILDER         */
/* ########################## */


.CurrentIcon {
	font: 12px Arial, Helvetica, sans-serif;
	padding: 8px;
	background-color: #EEF2FD;
	margin-bottom: 5px;
	border:	1px solid #D3DEFA;
	vertical-align: middle;
}

.CurrentIcon img {
	padding: 3px;
	float: left;
	border: none;
}

.IconReady {
	padding: 6px;
	border:	1px solid #eeeeee;
	margin-top: 0px;
}

.IconReady p {
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 3px;
}

.SetPrivacy {
	border:	1px solid #CCCCCC;
	background-color: #ffffff;
	padding:3px;
	width: 215px;
	font: 11px Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 10px;	
}

.SetPrivacy img {
	border: none;
}

.SetPrivacy p {
	margin-top:10px;
}



.37 {
	background: #FBFFCC;
	font-weight: bold;
	padding: 2px;
}


.StreamBuddy {
	margin-right: 20px;
	border: 1px solid #000000;
	float: left;
	margin-bottom: 20px;
}
.Temporal {
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	font: 11px Arial, Helvetica, sans-serif;
}

.SmallBit {
	margin-top: 0px;
	font: 11px Arial, Helvetica, sans-serif;
	color:#888888
}



.Skipper { 
	margin-bottom: 0px;
	margin-left: 56px;	
}

.Skipper td {
	font: bold 14px Arial, Helvetica, sans-serif;
}

.SkipOff {
	background: #eee;
	color: #d0d0d0;
}

.np:link {
	color: #aaa;
	text-decoration: none;
}

.np:visited {
	color: #aaa;
	text-decoration: none;
}

.np:hover {
	color: #FF0084;
	text-decoration: none;
	background: #fff;
}

.np:active {
	color: #FF0084;
	text-decoration: none;
	background: #fff;
}

.BadgePhoto {
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #EEF2FD;
	padding: 4px;
	margin: 0px 0px 10px 10px;
	vertical-align: middle;
	color: #666666;
	border: 1px solid #D3DEFA;
}	

.SkipThis {
	width: 100%;
	background-color: #FBFFCC;
	border: 1px solid #F7FEA6;
	padding: 6px;	
	text-align: left;
	margin-bottom: 15px;
}

.SkipThis h2 {
	margin: 0px;
}

.SkipThis p {	
	font: 14px Arial, Helvetica, sans-serif;
	margin: 0px;
}

.JoinUp {
	width: 100%;
	background-color: #FBFFCC;
	border: 1px solid #F7FEA6;
	padding: 6px;	
	text-align: left;
	margin-top: 15px;
}

.PopularTag:link {
	margin-bottom: 10px;
	text-decoration: none;
	padding-bottom: 2px;	
}

.PopularTag:visited {
	color: #0063DC;
	text-decoration: none;	
}

.PopularTag:hover {
	color: #ffffff;
	text-decoration: none;
	background: #0063DC;	
}

.PopularTag:active {
	color: #ffffff;
	text-decoration: none;
	background: #FF0084;
}

.PinkyWinky {
	padding: 20px;
	border: 1px solid #FFD9ED;	
}

.PinkyWinky p {
	font: 14px Arial, Helvetica;
}


.PostNew {
	padding: 4px 4px;
	background-color: #FFE8F4;
	border: 1px solid #FDD8EB;
	text-align: center;
	margin: 5px 0px 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	width: 160px;
}

.Offensive {
	font: 11px Arial, Helvetica, sans-serif;
	background-color: #f6f6f6; 
	border:	1px solid #eee;
	padding: 4px;
	margin: 30px 0px 20px 10px;
	width: 140px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
}

.75 {
	width: 90%; 
	text-align: center; 
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;	
}

.75a {
	width: 290px;
	padding-top: 10px; 	
	padding-bottom: 0px; 	
	margin-bottom: 0px; 	
}

.More {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 5px;
	float: left;
}

.Flotsam {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;	
	vertical-align: top;	
}
				
.HitThis {
	background-color: #EEF2FD;
	padding: 5px;
	width: 100%;
/*	border:	1px solid #D3DEFA; */
	vertical-align: middle;
	color: #000;
	text-align: left;
	margin-bottom: 5px;
}

.HitThis h3 {
	margin-bottom: 0px;
	margin-top: 0px;	
}

.HitThis p {
	margin-top: 5px;
	margin-left: 18px;	
	margin-bottom: 0px;	
	font-size: 12px;
}

.ToolTip {
	background-color: #ffffcc;
	color: #000000;
	padding: 8px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 3px solid #000000;
	border-right: 3px solid #000000;
	position: absolute;
	font: 12px Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: default;
}

.FAQ {
	border: none;
	padding-left: 10px;
}

.BadUser {
	color: #000;
	text-align: left;
	padding: 6px;
	margin-bottom: 10px;
	background-color: #eee;
	border: 1px solid #d0d0d0;
	font-weight: bold;	
}

.BadUser:link {
	color: #ff0;
	text-decoration: none;
	background: #000;
}

.BadUser:visited {
	color: #ff0;
	text-decoration: none;
	background: #000;
}

.BadUser:hover {
	color: #ff0;
	text-decoration: underline;
	background: #000;
}

.BadUser:active {
	color: #f00;
	text-decoration: underline;
	background: #000;
}

/* ########################### */
/*       YOUR CALENDAR         */
/* ########################### */

.Day {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: bottom;
	padding: 0px;
	margin: 0px;
	padding-bottom: 6px;
	padding-left: 8px;
}

.EmptyDay {
	padding: 0px;
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D2D2D2;
	background: url(/images/calendar_bg.jpg) repeat-x;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-top: 3px;
	border: 1px solid #7E7262;
}

.FutureDay {
	padding: 0px;
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #e5e5e5;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-top: 3px;
	border: 1px solid #e5e5e5;
}

.FullDay {
	background: #FFFFFF;
	text-align: left;
	vertical-align: top;
	border: 1px solid #7E7262;
	padding: 3px;
}

.FullDay img {
	border: 1px solid #000
}

.WhiteDate {
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	padding-left: 4px;
	padding-top: 0px;
	z-index: 3;	
	position: absolute;	
	text-align: left;
	vertical-align: top;
}

.BlackDate {
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	padding-left: 5px;
	padding-top: 1px;
	z-index: 2;
	position: absolute;	
	text-align: left;
	vertical-align: top;	
}

.Thumb {
	z-index: 1;
	position: absolute;		
}

.CalendarBlank {
	padding: 0px;
} 

.CalendarBlank img {
	border: 0px;
}


.Tour {
	border: solid 1px #ddd;
	width: 620px;
	margin-right: 70px;
	margin-left: 70px;
	margin-top: 10px;
	padding: 10px;
}

.Tour h1 {
	color: #ff0084;
}

.Tour h2 {
	font: lighter 22px Arial, Helvetica, sans-serif;
}

.Tour p {
	font: normal 14px/16px Arial, Helvetica, sans-serif;
}

.Tour .Crack p {
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	text-align: center;
}


.Tour li {
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	list-style: disc;
}

span.Found {
    background:rgb(153, 255, 153)
}

.BlogBits p {
	margin-left: 4px;
	font-size: 11px;
	color: #494949;
}

.BlogBits li {
	font-size: 11px;
	line-height: 14px;
	color: #494949;
}


/* ###################### */
/*       PAYMENTS         */
/* ###################### */

.HowMuch {
	border: 3px solid #ddd;
}

.HowMuch td {
	font-size: 14px;
	padding: 4px;
}

.NoRefund {
	border: 3px solid #ddd;
	text-align: center;
	font-size: 14px;
	color: #000;
	padding: 4px;
}

.PendingOrder td {
	background: #eaeaea;
	color: #666;
	font-style: italic;
}

.CancelledOrder td {
	background: #F1EDE8;
	color: #999;
	font-style: italic;
}


/* ###################### */
/*       SURVEY           */
/* ###################### */

.Survey {
	font: 12px Arial, Helvetica, sans-serif;
	border: 2px solid #E5E5E5;
}

.Survey td {
	padding: 5px;
	vertical-align: top;
}


/* ############################ */
/*       CALENDAR PICKER        */
/* ############################ */

.ShowCalendar {
	width: 220px;
}

.CalendarPop {
	background: #f5f5f5;
	border-top: 3px solid #ddd;
	border-right: 3px solid #ddd;
	border-left: 3px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin: 0px;
	width: 220px;
}

.CalendarPop a:link {
	text-decoration: none;
	color: #000;
	padding: 3px;	
}

.CalendarPop a:visited {
	text-decoration: none;
	color: #000;
	padding: 3px;	
}

.CalendarPop a:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
	padding: 3px;
}

.CalendarPop a:active {
	text-decoration: none;
	color: #ff0084;
	background: #000;
	padding: 3px;
}

.CalendarPop .Cancel a:link {
	text-decoration: none;
	color: #0063DC;
	padding: 3px;
}

.CalendarPop .Cancel a:visited {
	text-decoration: none;
	color: #0063DC;
	padding: 3px;
}

.CalendarPop .Cancel a:hover {
	text-decoration: underline;
	color: #0063DC;
	background: inherit;
	padding: 3px;
}

.CalendarPop .Cancel a:active {
	text-decoration: none;
	color: #0063DC;
	background: inherit;
	padding: 3px;
}


.CalendarPop th {
	background: #e1e1e1;
	padding: 2px;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;	
}

.CalendarPop .MON {
	background: #f5f5f5;
	padding: 2px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;	
}

.CalendarPop td {
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding: 2px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.CalendarPop .DAY {
	font-size: 11px; 
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;

}

.CalendarPop .Today {
	font-weight: bold;
	background: #fff;
	border: 2px solid #bbb;
	padding:1px;
}



/* ############################ */
/*       CONFIGURATOR           */
/* ############################ */

.ConfHeader {
	width: 760px;
	margin-top: 20px;
}

#Configurator {
	width: 680px;
	border: 1px solid #e1e1e1;
	background: #fff;
}

#Configurator tr {
	vertical-align: top;
}

#Configurator td {
	vertical-align: top;
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
	background: #f5f5f5;
	padding: 10px;
}

#Configurator p {
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
}

#Configurator .ButtonBar {
	text-align: center;
	width: 50%;	
	padding-top: 25px;
}

.ButtonBar input {
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;	
}

.YouAreHere {
	width: 680px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

.YouAreHere p {
	font: 11px Arial, Helvetica, sans-serif;
	color: #777;
	text-align: center;
}

.YouAreHere b {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;	
}
